{% extends "layout.html" %}

{% block content %}
<div class="intro">
      <video class="video blackwhite" autoplay  poster="/img/intro.jpg" id="bgvid" loop muted>
        <source src="http://www.shobokshy.com/intro.mp4" type="video/mp4">
      </video>
      <div class="introtxt">
          <h1 class="display-1">Property <b style="color:#05B2DC;">M</b>anagement</h1>
          <h3 style="color: white;">View and Manage Properties</h3>
          <br>

        <a class="btn btn-primary btn-lg" href="properties.html"><i class="fa fa-home"></i> View Properties</a>

      </div>
</div>
{% endblock %}