<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'properties/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
    <nav class="navbar navbar-fixed-top navbar-light bg-faded">
      <button class="navbar-toggler hidden-sm-up pull-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">&#9776;</button>
      <a class="navbar-brand" href="{% url "index" %}">Property Management</a>
      <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url "properties" %}">Properties <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "index" %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <form class="form-inline navbar-form pull-right">
        <input class="form-control" type="text" placeholder="Search">
        <button class="btn btn-success-outline pull-right" type="submit"><i class="fa fa-search"></i></button>
      </form>
      </div>
</nav>

<br>
<br>
<br>
<br>
      
      
      
      <div class="container">
          <div class="row">
          
          
          <!-- Dynamically generate property cards for each property in the database -->
          {% for property in property_list %}
            <div class="col-sm-4">
              <div class="card">
                  <div class="card-block">
                    <h4 class="card-title">{{ property.name }}</h4>
                    <h6 class="card-subtitle text-muted">This is a house</h6>
                  </div>
                  <img src="img/villa.jpg" height="100%" width="100%" alt="Card image">
                  <div class="card-block">
                  	<p class="card-text"><b>Property ID: </b>{{ property.pk }}</p>
                    <p class="card-text"><b>Address: </b>{{ property.address }}</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
                </div>
            </div>
            {% endfor %}

          </div>
      </div>
      
      
      
      
      
      
      
      
      
      
      
      
      

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
  </body>
</html>
